[["you" "nǐ"]
 ["good" "hǎo"]
 ["morning" "zǎo"]
 ["congratulation" "gōngxǐ"]
 ["i" "wǒ"]
 ["want" "yào"]
 ["this" "zhè"]
 ["that" "nà"]
 ["menu" "càidān"]
 ["English language" "Yīngyǔ"]
 ["Thai people" "Tàiguó rén"]
 ["rice" "mǐ fàn"]]
