[["Hello" "Nǐ hǎo"]
 ["Good morning" "Zǎoshang hǎo"]
 ["Bye bye" "Zàijiàn"]
 ["Thank you" "Xièxie"]
 ["I want" "Wǒ yào"]
 ["This one" "Zhègè"]
 ["That one" "Nàgè"]
 ["Thai people" "Tàiguó rén"]
 ["My name is" "Wǒ jiào"]
 ["I am" "Wǒ shi"]
 ["I am not" "Wǒ bú shi"]
 ["Two people" "Liǎng wèi"]]