; Group sentence by learning date. In the future, I might pick only a few old words
[["Hello" "Nǐ hǎo"]
 ["Good morning" "Zǎoshang hǎo"]
 ["Morning" "Zǎo"]
 ["Long time no see" "Hǎo jiǔ bú jiàn"]
 ["Bye bye" "Zàijiàn"]
 ["Thank you" "Xièxie"]
 ["You're welcome" "Bù kèqi, Bù yòng xiè"]
 ["Congratulation" "Gōngxǐ"]
 ["Sorry; Excuse me" "Duìbuqi"]
 ["It doesn't matter" "Méi guānxi"]
 ["How much is it?" "Duōshǎo qián?"]
 ["I want" "Wǒ yào"]
 ["This one" "Zhègè"]
 ["That one" "Nàgè"]
 ["Menu" "Càidān"]
 ["Thai people" "Tàiguó rén"]
 ["My name is" "Wǒ jiào"]
 ["I am" "Wǒ shi"]
 ["I am not" "Wǒ bú shi"]
 ["Too expensive" "Tài guìle"]
 ["Cheaper a little bit" "Piányí yī diǎn"]
 ["English language" "Yīngyǔ"]
 ["Chinese language" "Hànyǔ"]
 ["Thai people" "Tàiguó rén"]
 ["Can you speak English?" "Nǐ kěyǐ shuō yīngyǔ ma?"]
 ["A little more rice" "Duō yi dian mǐ fàn"]
 ["Receipt" "Xiǎo piào"]
 ["Ice coke" "Bīn kělè"]
 ["Water" "Shuǐ"]
 ["Go to Guangzhou East train station" "Qù Guǎngzhōu Dōng zhàn"]
 ["How many (people)?" "Jǐ wèi"]
 ["Two people" "Liǎng wèi"]
 ["Two pieces" "Liǎng fèn"]
 ["Let's go out for eat" "Wǒmen chūqù chīfàn ba"]
 ["Want to go out for eat?" "Wǒmen chūqù chīfàn hǎo ma?"]
 ["You come?" "Nǐ lái le?"]
 ["You already eat breakfast?" "Nǐ chi zǎo fàn le ma?"]
 ["Eat already" "Chī le"]
 ["Not yet eat" "Méi chī"]
 ["Lunch" "Wǔ fàn"]
 ["Dinner" "Wǎn fàn"]]
