; Group sentence by learning date. In the future, I might pick only a few old words
[
  [; Learn on Sept 24th
    ["Hello" "Nǐ hǎo"]
    ["Good morning" "Zǎoshang hǎo"]
    ["Morning" "Zǎo"]
    ["Bye bye" "Zàijiàn"]
    ["Thank you" "Xièxie"]
    ["You're welcome" "Bù kèqi, Bù yòng xiè"]
    ["Congratulation" "Gōngxǐ"]
    ["Sorry; Excuse me" "Duìbuqi"]
    ["How much is it?" "Duōshǎo qián?"]
    ["I want" "Wǒ yào"]
    ["This one" "Zhègè"]
    ["That one" "Nàgè"]
    ["Menu" "Càidān"]
    ["Thai people" "Tàiguó rén"]
    ["My name is" "Wǒ jiào"]
    ["I am" "Wǒ shi"]
    ["I am not" "Wǒ bú shi"]
    ["Too expensive" "Tài guìle"]
    ["Cheaper a little bit" "Piányí yī diǎn"]
    ["English language" "Yīngyǔ"]
    ["Chinese language" "Hànyǔ"]
    ["Thai people" "Tàiguó rén"]
    ["Can you speak English?" "Nǐ kěyǐ shuō yīngyǔ ma?"]]]
