; Group sentence by learning date. In the future, I might pick only a few old words
[["Long time no see" "hǎo jiǔ bú jiàn" "好久不见"]
 ["You're welcome" "bú kè qi; bú yòng xiè" "不客气;不用谢"]
 ["Sorry; Excuse me" "duì bu qǐ" "对不起"]
 ["It doesn't matter" "méi guān xi" "没关系"]
 ["How much is it?" "duō shǎo qián?" "多少钱"]
 ["Too expensive" "tài guì le" "太贵了"]
 ["Cheaper a little bit" "pián yí yī diǎn" "便宜一点"]
 ["Can you speak English?" "nǐ kě yǐ shuō yīng yǔ ma?" "你可以说英语吗?"]
 ["A little more rice" "duō yī diǎn mǐ fàn" "多一点米饭"]
 ["Go to Guangzhou East train station" "qù Guǎngzhōu dōng zhàn" "去广州东站"]
 ["How many (people)?" "jǐ wèi" "几位"]
 ["Two pieces" "liǎng fèn" "两份"]
 ["Let's go out for eat" "wǒ men chū qù chī fàn ba" "我们出去吃饭吧"]
 ["Want to go out for eat?" "wǒ men chū qù chī fàn hǎo ma?" "我们出去吃饭好吗?"]
 ["You come?" "nǐ lái le?" "你来了?"]
 ["You already eat breakfast?" "nǐ chī zǎo fàn le ma?" "你吃早饭了吗?"]
 ["Eat already" "chī le" "吃了"]
 ["Not yet eat" "méi chī" "没吃"]]
