; Group sentence by learning date. In the future, I might pick only a few old words
[["Long time no see" "Hǎo jiǔ bú jiàn"]
 ["You're welcome" "Bù kèqi, Bù yòng xiè"]
 ["Sorry; Excuse me" "Duìbuqi"]
 ["It doesn't matter" "Méi guānxi"]
 ["How much is it?" "Duōshǎo qián?"]
 ["Too expensive" "Tài guìle"]
 ["Cheaper a little bit" "Piányí yī diǎn"]
 ["Can you speak English?" "Nǐ kěyǐ shuō yīngyǔ ma?"]
 ["A little more rice" "Duō yi dian mǐ fàn"]
 ["Go to Guangzhou East train station" "Qù Guǎngzhōu Dōng zhàn"]
 ["How many (people)?" "Jǐ wèi"]
 ["Two pieces" "Liǎng fèn"]
 ["Let's go out for eat" "Wǒmen chūqù chīfàn ba"]
 ["Want to go out for eat?" "Wǒmen chūqù chīfàn hǎo ma?"]
 ["You come?" "Nǐ lái le?"]
 ["You already eat breakfast?" "Nǐ chī zǎo fàn le ma?"]
 ["Eat already" "Chī le"]
 ["Not yet eat" "Méi chī"]]
