[["Chinese language" "hàn yǔ" "汉语"]
 ["receipt" "xiǎo piào" "小票"]
 ["Coke" "kě lè" "可乐"]
 ["ice" "bīng" "冰"]
 ["water" "shuǐ" "水"]
 ["come" "lái" "来"]
 ["breakfast" "zǎo fàn" "早饭"]
 ["eat" "chī" "吃"]
 ["lunch" "wǔ fàn" "午饭"]
 ["dinner" "wǎn fàn" "晚饭"]]
