[["Chinese language" "Hànyǔ"]
 ["receipt" "xiǎo piào"]
 ["Coke" "kělè"]
 ["ice" "bīn"]
 ["water" "shuǐ"]
 ["come" "lái"]
 ["breakfast" "zǎo fàn"]
 ["eat" "chī"]
 ["lunch" "wǔ fàn"]
 ["dinner" "wǎn fàn"]]
