[["Chinese language" "hàn yǔ" "汉语"]
 ["receipt" "xiǎo piào" "小票"]
 ["expensive" "guì" "贵"]
 ["tooth" "yá" "牙"]
 ["study" "xué" "学"]
 ["flower" "huā" "花"]
 ["bed" "chuáng" "床"]
 ["watch" "biǎo" "表"]
 ["ticket" "piào" "票"]
 ["tea" "chá" "茶"]
 ["book" "shū" "书"]
 ["egg" "jī dàn" "鸡蛋"]
 ["school" "xué xiào" "学校"]
 ["delicious" "hǎo chī" "好吃"]
 ["fun, interesting" "hǎo wán" "好玩"]
 ["can, ok" "kě yǐ" "可以"]
 ["want to order food" "diǎn cài" "点菜"]
 ["head of company" "lǎo bǎn" "老板"]
 ["restaurant" "fàn diàn" "饭店"]
 ["bread" "miàn bāo" "面包"]
 ["noodle" "miàn tiáo" "面条"]
 ["address" "dì zhǐ" "地址"]
 ["now" "xiàn zài" "现在"]
 ["teacher" "lǎo shī" "老师"]
 ["everyone" "dà jiā" "大家"]
 ["surname" "xìng" "姓"]
 ["to be called" "jiào" "叫"]
 ["to be" "shì" "是"]
 ["student" "xué sheng" "学生"]
 ["to, also" "yě" "也"]
 ["welcome" "huān yíng" "欢迎"]
 ["you (many people)" "nǐ men" "你们"]
 ["introduce" "jiè shào" "介绍"]
 ["a bit" "yī xià" "一下"]
 ["manager" "jīng lǐ" "经理"]
 ["and, with" "hé" "和"]
 ["they, them" "tā men" "他们"]
 ["he, him" "tā" "他"]
 ["she, her" "tā" "她"]
 ["it" "tā" "它"]
 ["new" "xīn" "新"]
 ["colleague" "tóng shì" "同事"]
 ["wait" "děng" "等"]
 ["look" "kàn" "看"]
 ["'s" "de" "的"]
 ["daughter" "nǚ ér" "女儿"]
 ["younger sister" "meì mei" "妹妹"]
 ["son" "ér zi" "儿子"]
 ["how many, how much" "jǐ" "几"]
 ["year, years old" "suì" "岁"]
 ["what" "shén me" "什么"]
 ["name" "míng zi" "名字"]
 ["who, whom" "shuí, shéi" "谁"]
 ["wife" "tài tai" "太太"]
 ["husband" "xiān sheng" "先生"]
 ["country" "guó" "国"]
 ["may I ask" "qǐng wèn" "请问"]
 ["please" "qǐng" "请"]
 ["ask" "wèn" "问"]
 ["very" "hěn" "狠"]
 ["happy" "gāo xìng" "高兴"]
 ["know" "rèn shi" "认识"]
 ["friend" "péng you" "朋友"]]
